<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Registration - SmartCampus</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<nav class="navbar">
    <div class="logo">SmartCampus</div>

    <div class="nav-links">
        <a href="/">Home</a>
        <a href="/student-login">Student Login</a>
    </div>
</nav>

<div class="form-container">

    <div class="form-card">

        <h1>Student Registration</h1>

        <p>Create your SmartCampus account</p>

        {% if error %}
            <div class="error">{{ error }}</div>
        {% endif %}

        <form method="POST">

            <label>Full Name</label>
            <input type="text"
                   name="name"
                   placeholder="Enter your name"
                   required>

            <label>Email</label>
            <input type="email"
                   name="email"
                   placeholder="Enter your college email"
                   required>

            <label>Password</label>
            <input type="password"
                   name="password"
                   placeholder="Create a password"
                   required>

            <button type="submit" class="form-btn">
                Create Account
            </button>

        </form>
        <div class="back-link">
    <a href="/">← Back to Home</a>
</div>

        <p class="bottom-text">
            Already have an account?
            <a href="/student-login">Login here</a>
        </p>

    </div>

</div>

</body>
</html>

